configuration {
    theme:                          "config";
    show-icons:                     false;
}

prompt {
    enabled:                        false;
}

entry  {
    margin:                         20% 40% 0% 40%;
}

listview {
    columns:                        1;
    margin:                         25% 40% 15% 40%;
}

element {
    expand:                         true;
}

element-text {
    expand:                         true;
}
